<div class="row search-field">
  <div class="col-lg-8">
    <div class="input-group input-group-sm">
      <div class="input-group-text">{{label}}</div>
      <input [formControl]="inputFormControl"
             type="{{type}}"
             class="form-control form-control-sm"
             placeholder="{{label}}">
    </div>
  </div>
  <div class="col-lg-4">
    <select class="form-select form-select-sm"
            [formControl]="selectFormControl">
      <option [ngValue]="null" disabled>Operator</option>
      <option *ngFor="let operator of operators" [ngValue]="operator.value">
        {{ operator.name}}
      </option>
    </select>
  </div>
</div>
