<div class="row">
  <div class="col-xl-12">
    <p class="h3">
      <span>{{header}}'s Products</span>
    </p>
  </div>
</div>
<div class="divider"></div>

<div class="row">
  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12" *ngFor="let product of products">
    <div class="card mb-3">
        <a (click)="onImagesOpen(product.productId)"
           data-bs-toggle="modal" data-bs-target="#productImagesModal">
          <img [src]="product.featureImage" class="img-fluid rounded-start" alt="...">
        </a>
        <div class="card-body">
          <app-product-details-table [product]="product"></app-product-details-table>
        </div>
      <div class="card-footer">
        <div class="btn-group btn-group d-flex">
          <button class="btn btn-primary"
                  [ngClass]="{disabled: product.saved}"
                  (click)="addToProductDB(product.productId)">
            Add
          </button>
          <button class="btn btn-danger"
                  [ngClass]="{disabled: !product.saved}"
                  (click)="removeFromProductDB(product.productId)">
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="productImagesModal" tabindex="-1" aria-labelledby="productImagesModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="productImagesModalLabel">Images</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-product-images [productImages]="productImages">
        </app-product-images>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
