<div class="container-fluid">
  <app-header></app-header>
  <div class="row">
    <div class="col-lg-2">
      <app-management-menu [activeElement]="'permission'"></app-management-menu>
    </div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-outline-primary btn-sm float-end"
                  [routerLink]="['/admin/permission/create']">New Permission</button>
          System Roles
        </div>
        <div class="card-body" style="min-height: 500px">
          <div class="table-responsive" style="min-height: 500px">
            <table class="table table-hover table-bordered">
              <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>URL</th>
                <th>Controller</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let permission of permissions">
                <td>{{permission.id}}</td>
                <td>{{permission.title}}</td>
                <td>{{permission.description}}</td>
                <td>{{permission.url}}</td>
                <td>{{permission.controller}}</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                      Actions
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item"
                           [routerLink]="['/admin/permission/edit', {permissionId: permission.id}]">
                          Edit
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item"
                           data-bs-toggle="modal"
                           data-bs-target="#deleteUserModal"
                           (click)="onDelete(permission.id)"
                        >
                          Delete
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer">
          <app-pager *ngIf="permissions.length"
                     [currentPage]="pageable.currentPage"
                     [lastPage]="pageable.lastPage"
                     [perPage]="pageable.perPage"
                     [total]="pageable.total"
                     (onSelect)="onPageSelect($event)"
          ></app-pager>
        </div>
      </div>
    </div>
  </div>

</div>
<app-permission-delete [selectedPermissionId]="selectedPermissionId"></app-permission-delete>
