<div class="container-fluid">
  <app-header></app-header>
  <div class="row">
    <div class="col-12">
      <app-pager *ngIf="productResponse"
                 [currentPage]="productResponse.currentPage"
                 [lastPage]="productResponse.lastPage"
                 [perPage]="productResponse.perPage"
                 [total]="productResponse.total"
                 (onSelect)="onPageSelect($event)"
      ></app-pager>
      <app-product *ngIf="productResponse"
                   [providerAlias]="providerAlias"
                   [products]="productResponse.products">
      </app-product>
      <app-pager *ngIf="productResponse"
                 [currentPage]="productResponse.currentPage"
                 [lastPage]="productResponse.lastPage"
                 [perPage]="productResponse.perPage"
                 [total]="productResponse.total"
                 (onSelect)="onPageSelect($event)"
      ></app-pager>
    </div>
  </div>
</div>
