<div class="container-fluid">
  <app-header></app-header>
  <div class="card">
    <div class="card-header">
      <app-search-field [label]="'Title'"
                        [type]="'text'"
                        [inputFormControl]="titleSearchFormControl"
                        [selectFormControl]="titleOperatorSearchFormControl">
      </app-search-field>
      <app-search-field [label]="'Price'"
                        [type]="'number'"
                        [inputFormControl]="priceSearchFormControl"
                        [selectFormControl]="priceOperatorSearchFormControl">
      </app-search-field>

      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-outline-primary btn-sm float-end" (click)="onSearch()">Search</button>
        </div>
      </div>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">ID</th>
            <th scope="col">Brand</th>
            <th scope="col">Shop</th>
            <th scope="col">Provider</th>
            <th scope="col">Title</th>
            <th scope="col">Gender</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products">
            <td style="width: 10%;">
              <a (click)="onImagesOpen(product.id)"
                 data-bs-toggle="modal" data-bs-target="#productImagesModal">
                <img [src]="product.featureImage" class="img-thumbnail" alt="...">
              </a>
            </td>
            <td>{{product.productId}}</td>
            <td>{{product.brand.toUpperCase()}}</td>
            <td>{{product.shop.title.toUpperCase()}}</td>
            <td>{{product.provider.title.toUpperCase()}}</td>
            <td>{{product.title}}</td>
            <td *ngIf="product.gender === 'female'; else genderElseBlock">
              <span class="badge text-bg-danger">{{product.gender.toUpperCase()}}</span>
            </td>
            <ng-template #genderElseBlock>
              <span class="badge text-bg-primary">{{product.gender.toUpperCase()}}</span>
            </ng-template>
            <td>{{product.productColor}}</td>
            <td>{{product.price}} {{product.currency}}</td>
            <td>
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-outline-primary">Actions</button>
                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li (click)="setSelectedProduct(product)">
                    <a class="dropdown-item"
                       data-bs-toggle="modal" data-bs-target="#productDetailsModal">
                      Publish to Etsy
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Remove from Etsy </a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li
                    (click)="removeFromProductDB(product)">
                    <a class="dropdown-item">Remove from Product Database </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <app-pager *ngIf="products.length"
                 [currentPage]="pageable.currentPage"
                 [lastPage]="pageable.lastPage"
                 [perPage]="pageable.perPage"
                 [total]="pageable.total"
                 (onSelect)="onPageSelect($event)"
      ></app-pager>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="productImagesModal" tabindex="-1" aria-labelledby="productImagesModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="productImagesModalLabel">Images</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-product-images [productImages]="productImages">
        </app-product-images>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="productDetailsModal" tabindex="-1" aria-labelledby="productDetailsModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="productDetailsModalLabel">Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <textarea class="form-control"
                      id="title"
                      [formControl]="title"
                      minlength="5"
                      maxlength="1000"
                      rows="2"
                      [ngClass]="{ 'is-invalid': titleHasError() }"
            ></textarea>
            <div id="titleValidation" class="invalid-feedback">
              Please enter a valid title.
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="description" class="col-sm-2 col-form-label">Details</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="description"
                      [formControl]="details"
                      minlength="5"
                      maxlength="1000"
                      rows="10"
                      [ngClass]="{ 'is-invalid': detailsHasError() }"
            ></textarea>
            <div id="descriptionValidation" class="invalid-feedback">
              Please enter a valid description.
            </div>
            <div [innerHTML]="generatedContent" class="bg-success"></div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="shortDescription" class="col-sm-2 col-form-label">Short Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="shortDescription"
                      [formControl]="shortDescription"
                      minlength="5"
                      maxlength="1000"
                      required=""
                      rows="10"
                      [ngClass]="{ 'is-invalid': shortDescriptionHasError() }"
            ></textarea>
            <div id="shortDescriptionValidation" class="invalid-feedback">
              Please enter a valid short description.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="generateContent()">Generate Content</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="publishProduct()">Save and Publish</button>
      </div>
    </div>
  </div>
</div>


