<div class="container-fluid">
  <app-header></app-header>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-lg-4">
          <input type="text" class="form-control" placeholder="Title">
        </div>
        <div class="col-lg-8">
          <button class="btn btn-outline-primary btn-sm float-end">Search</button>
        </div>
      </div>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">ID</th>
            <th scope="col">Brand</th>
            <th scope="col">Title</th>
            <th scope="col">Gender</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of products">
            <td style="width: 10%;">
              <a (click)="onImagesOpen(product.id)"
                 data-bs-toggle="modal" data-bs-target="#productImagesModal">
                <img [src]="product.featureImage" class="img-thumbnail" alt="...">
              </a>
            </td>
            <td>{{product.productId}}</td>
            <td>{{product.brand.toUpperCase()}}</td>
            <td>{{product.title}}</td>
            <td *ngIf="product.gender === 'female'; else genderElseBlock">
              <span class="badge text-bg-danger">{{product.gender.toUpperCase()}}</span>
            </td>
            <ng-template #genderElseBlock>
              <span class="badge text-bg-primary">{{product.gender.toUpperCase()}}</span>
            </ng-template>
            <td>{{product.productColor}}</td>
            <td>{{product.price}} {{product.currency}}</td>
            <td>
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-outline-primary">Actions</button>
                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Publish to Etsy</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Remove from Etsy </a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Remove from Product Database </a></li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <app-pager *ngIf="products.length"
                 [currentPage]="pageable.currentPage"
                 [lastPage]="pageable.lastPage"
                 [perPage]="pageable.perPage"
                 [total]="pageable.total"
                 (onSelect)="onPageSelect($event)"
      ></app-pager>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="productImagesModal" tabindex="-1" aria-labelledby="productImagesModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="productImagesModalLabel">Images</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-product-images [productImages]="productImages">
        </app-product-images>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

