<div class="container-fluid vh-100" style="margin-top: 100px">
  <div class="" style="margin-top: 100px">
    <div class="rounded d-flex justify-content-center">
      <div class="col-md-4 col-sm-12 shadow-lg p-5">
        <div class="text-center">
          <h3 class="text-primary">UAA</h3>
        </div>
        <div *ngIf="httpError" class="text-center">
          <div class="alert alert-danger" role="alert">
            {{httpError?.message}}
          </div>
        </div>
        <form action="">
          <div class="mb-3">
            <label for="username" class="form-label"> Username or Email </label>
            <input
              type="email"
              class="form-control"
              id="username"
              placeholder="name@example.com"
              [formControl]="username"
              minlength="5"
              maxlength="50"
              required=""
              [ngClass]="{ 'is-invalid': usernameHasError() }"
            />
            <div id="usernameValidation" class="invalid-feedback">
              Please enter a valid username.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"> Password </label>
            <input
              type="password"
              class="form-control"
              id="password"
              [formControl]="password"
              minlength="4"
              maxlength="50"
              [ngClass]="{ 'is-invalid': passwordHasError() }"
              required=""
            />
            <div id="passswordValidation" class="invalid-feedback">
              Please enter a valid password.
            </div>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button" (click)="onLogin()" [disabled]="formHasError()">
              Login
            </button>
          </div>
          <p class="text-center">
            <a class="text-primary" [routerLink]="['/forgot-password']">
              Forgot password
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
