<div class="container-fluid">
  <app-header></app-header>
  <div class="row">
    <div class="col-lg-2">
      <app-management-menu [activeElement]="'authorization'"></app-management-menu>
    </div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          Authorization
        </div>
        <div class="card-body" style="min-height: 500px">
          <div class="row">
            <div class="col">
              <h1 class="h3">
                <span>Role List</span>
              </h1>
              <div class="divider"></div>
              <div class="form-check" *ngFor="let role of roles">
                <input class="form-check-input" type="radio" name="role" id="role{{role.id}}"
                       [value]="role.id"
                       (change)="onRoleChange(role)">
                <label class="form-check-label" for="role{{role.id}}">
                  {{role.name}}
                </label>
              </div>
            </div>
            <div class="col">
              <h1 class="h3">
                <span>Permission List</span>
              </h1>
              <div class="divider"></div>
              <div *ngIf="selectedRole">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="assignAllPermissions"
                         (change)="assignAllPermissions($event)"
                         [checked]="isAllPermissionAssigned()">
                  <label class="form-check-label" for="assignAllPermissions">
                    <span *ngIf="!isAllPermissionAssigned()">Assign all permissions</span>
                    <span *ngIf="isAllPermissionAssigned()">Revoke all permissions</span>
                  </label>
                </div>
                <div class="accordion " id="permissions">
                  <div class="accordion-item" *ngFor="let groupedPermission of groupedPermissions | keyvalue">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#flush-' + groupedPermission.key"
                              [attr.aria-controls]="'#flush-' + groupedPermission.key"
                              aria-expanded="false">
                        {{$any(groupedPermission.key).toUpperCase()}}
                      </button>
                    </h2>
                    <div id="flush-{{groupedPermission.key}}" class="accordion-collapse collapse"
                         data-bs-parent="#permissions">
                      <div class="accordion-body">
                        <div class="form-check" *ngFor="let permission of $any(groupedPermission).value">
                          <input class="form-check-input" type="checkbox" value="" id="permission{{permission.id}}"
                                 [value]="permission.id"
                                 (change)="onPermissionChange(permission, $event)"
                                 [checked]="permission.isAssigned">
                          <label class="form-check-label" for="permission{{permission.id}}">
                            {{permission.title}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
