<div class="container-fluid">
  <app-header></app-header>
  <div class="row">
    <div class="col-lg-2">
      <app-management-menu [activeElement]="'authorization'"></app-management-menu>
    </div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          Authorization
        </div>
        <div class="card-body" style="min-height: 500px">
          <div class="row">
            <div class="col">
              <div class="form-check" *ngFor="let role of roles">
                <input class="form-check-input" type="radio" name="role" id="role{{role.id}}"
                       [value]="role.id"
                       (change)="onRoleChange(role)">
                <label class="form-check-label" for="role{{role.id}}">
                  {{role.name}}
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="assignAllPermissions">
                <label class="form-check-label" for="assignAllPermissions">
                  <span>Assign all permissions</span>
                </label>
              </div>
              <div class="divider"></div>
              <div class="form-check" *ngFor="let permission of permissions">
                <input class="form-check-input" type="checkbox" value="" id="permission{{permission.id}}"
                       [value]="permission.id"
                       (change)="onPermissionChange(permission, $event)"
                       [checked]="permission.isAssigned">
                <label class="form-check-label" for="permission{{permission.id}}">
                  {{permission.title}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
