<div *ngIf="product">
  <h5 class="card-title">{{product.title}}</h5>
  <p class="card-text" [innerHTML]="product.details"></p>
  <p class="card-text"><b>Short Description : </b>{{product.shortDescription}}</p>
</div>
<div class="table-responsive" *ngIf="product">
  <table class="table">
    <thead>
    <tr>
      <th>Color</th>
      <th>Gender</th>
      <th>Brand</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{product.productColor}}</td>
      <td>{{product.gender}}</td>
      <td>{{product.brand}}</td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th>Price</th>
      <th>Stock Code</th>
      <th>Stock Count</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{product.price}} {{product.currency}}</td>
      <td>{{product.stockCode}}</td>
      <td>{{product.stockCount}}</td>
    </tr>
    </tbody>
  </table>
</div>
