<div *ngIf="product">
  <h5 class="card-title text-center">{{product.title}}</h5>
</div>
<dl class="row">
  <dt class="col-6">Price</dt>
  <dd class="col-6">
    <span class="badge text-bg-secondary">
      {{product?.price}} {{product?.currency}}
    </span>
  </dd>
  <dt class="col-6">Color</dt>
  <dd class="col-6">{{product?.productColor}} </dd>
  <dt class="col-6">Gender</dt>
  <dd class="col-6">{{product!.gender.toUpperCase()}} </dd>
  <dt class="col-6">Brand</dt>
  <dd class="col-6">{{product!.brand.toUpperCase()}} </dd>
  <dt class="col-6">Stock Count</dt>
  <dd class="col-6">{{product?.stockCount}} </dd>
  <dt class="col-6">Stock Code</dt>
  <dd class="col-6">{{product?.stockCode}} </dd>
</dl>
