<div class="row">
  <div class="col-xl-12">
    <h1 class="h3">
      <span>Shops</span>
      <a class="btn btn-outline-primary btn-sm float-end"
         [routerLink]="['/shop/new']">
        New Shop
      </a>
    </h1>
  </div>
</div>
<div class="divider"></div>

<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let shop of shops" (click)="navigateToProvider(shop.id)">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{shop.title}}</h5>
        <p class="card-text">Etsy Account ID : {{shop.etsyAccountId}}</p>
      </div>
      <div class="card-footer">
        <div class="btn-group btn-group-sm d-flex" role="group">
          <a class="btn btn-outline-primary" [routerLink]="['/shop/edit', shop.id ]">Edit</a>
          <a class="btn btn-outline-danger" [routerLink]="['/shop/edit', shop.id ]">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-delete-shop [selectedShopId]="selectedShopId"></app-delete-shop>
