<div class="container-fluid">
  <app-header></app-header>

  <div class="row">
    <div class="col-xl-12">
      <p class="h3">
        <span>Providers</span>
      </p>
    </div>
  </div>
  <div class="divider"></div>

  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let provider of providers">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{provider.title}}</h5>
        </div>
        <div class="card-footer">
          <div class="btn-group btn-group-sm d-flex" role="group">
            <a class="btn btn-outline-primary"
               (click)="onNavigateToProviderDetails(provider.providerAlias.toLowerCase())">Go Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
