<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Integrator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product-database', {page:1}]">Product Database</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hi, <b>{{userDetails.userInfo.username}}</b>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/admin/user/list', {pageNo: 1}]">Management</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>

<div *ngIf="httpError" class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Server Error!</h4>
  <p>Status : {{httpError.status}}</p>
  <p>Message : {{httpError.message}}</p>
  <hr>
  <p class="mb-0">Path : {{httpError.path}}</p>
  <p>Timestamp : {{httpError.timestamp}}</p>
<!--  <p class="mb-0">Trace : {{httpError.trace}}</p>-->
</div>
