<div class="container-fluid">
  <app-header></app-header>
  <div class="row">
    <div class="col-lg-2">
      <app-management-menu [activeElement]="'realm'"></app-management-menu>
    </div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          <button class="btn btn-outline-primary btn-sm float-end"
                  [routerLink]="['/admin/realm/create']">New Realm</button>
          Realm List
        </div>
        <div class="card-body" style="min-height: 500px">
          <div class="table-responsive" style="min-height: 500px">
            <table class="table table-hover table-bordered table-sm">
              <thead class="table-light">
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Description</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let realm of realms">
                <td>{{realm.id}}</td>
                <td>{{realm.name}}</td>
                <td>{{realm.code}}</td>
                <td>{{realm.description}}</td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-sm btn-outline-primary dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                      Actions
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item"
                           [routerLink]="['/admin/realm/edit', {realmId: realm.id}]">
                          Edit
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item"
                           data-bs-toggle="modal"
                           data-bs-target="#deleteRealmModal"
                           (click)="onDelete(realm.id)"
                        >
                          Delete
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer">
          <app-pager *ngIf="realms.length"
                     [currentPage]="pageable.currentPage"
                     [lastPage]="pageable.lastPage"
                     [perPage]="pageable.perPage"
                     [total]="pageable.total"
                     (onSelect)="onPageSelect($event)"
          ></app-pager>
        </div>
      </div>
    </div>
  </div>

</div>
<app-realm-delete [selectedRealmId]="selectedRealmId"></app-realm-delete>
