<ul class="list-group">
  <li [routerLink]="['/admin/realm/list', {pageNo: 1}]" class="list-group-item"
      [ngClass]="{active: activeElement === 'realm'}" aria-current="true">
    <a><i class="bi bi-house"></i> Realm</a>
  </li>
  <li [routerLink]="['/admin/user/list', {pageNo: 1}]" class="list-group-item"
      [ngClass]="{active: activeElement === 'user'}" aria-current="true">
    <a><i class="bi bi-people"></i> User</a>
  </li>
  <li [routerLink]="['/admin/role/list', {pageNo: 1}]" class="list-group-item"
      [ngClass]="{active: activeElement === 'role'}">
    <a><i class="bi bi-shield-shaded"></i> Role</a>
  </li>
  <li [routerLink]="['/admin/permission/list', {pageNo: 1}]" class="list-group-item"
      [ngClass]="{active: activeElement === 'permission'}">
    <a><i class="bi bi-sign-turn-left"></i> Permission</a>
  </li>
  <li [routerLink]="['/admin/authorization/list', {pageNo: 1}]" class="list-group-item"
      [ngClass]="{active: activeElement === 'authorization'}">
    <a><i class="bi bi-shield-lock-fill"></i> Authorization</a>
  </li>
</ul>
